html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
  &-tac {
    text-align: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-jcse {
    justify-content: space-evenly;
  }
  &-aic {
    align-items: center;
  }
  &-aife {
    align-items: flex-end;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;

  &.link {
    color: $secondary;
    &:hover {
      color: $hover;
    }
  }

  &.btn {
    font-size: 1em;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0.5rem 1rem;
    color: $secondary;

    &:hover {
      background-color: $black;
      color: $hover;
      transition: all 1s ease-in-out;
    }
  }
}
body {
  height: 100%;
  width: 100%;
  font-family: $font;
  background-color: $tertiary;
  color: $secondary;
}

.noscroll {
  overflow: hidden;
}
.loader {
  height: 100vh;
  width: 100%;
  background: $tertiary;
  color: $secondary;
  text-transform: capitalize;
  z-index: 700;
  overflow: hidden;

  .loading {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid $black;
    position: relative;
    animation: rotate 2s linear infinite;

    span {
      position: absolute;
      height: 200px;
      width: 200px;
      text-align: center;
      line-height: 200px;
      animation: irotate 2s linear infinite;
    }

    &::before,
    &::after {
      content: "";
      height: 200px;
      width: 200px;
      position: absolute;
      left: 0;
      top: -10px;
      box-sizing: border-box;
      border-radius: 50%;
    }

    &::before {
      border-top: 10px solid $hover;
      transform: rotate(120deg);
    }
    &::after {
      border-top: 10px solid $grey;
      transform: rotate(-120deg);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes irotate {
    to {
      transform: rotate(-360deg);
      color: $hover;
    }
  }
}
.wrapper {
  display: none;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "about"
    "skills"
    "projects"
    "contact"
    "footer";

  .header {
    grid-area: header;
    height: 40px;
    width: 100%;
    a {
      color: $secondary;
    }
  }
  .main {
    grid-area: main;
    height: 100vh;
    color: $secondary;
  }
  .about {
    grid-area: about;
  }
  .skills {
    grid-area: skills;
    color: $secondary;
  }
  .projects {
    grid-area: projects;
  }
  .contact {
    grid-area: contact;
  }

  .about,
  .skills,
  .projects,
  .contact {
    height: 100%;
    @include up(large) {
      height: 100vh;
    }
    .container {
      width: 95%;
      padding: 1rem;
      margin: auto;
      .title {
        font-size: 2rem;
        text-align: left;
        position: relative;

        &::after {
          content: "";
          width: 5rem;
          height: 0.2rem;
          position: absolute;
          margin-top: 0.3rem;
          background-color: $grey;
        }

        hr {
          display: none;
        }
      }
    }
  }

  .footer {
    grid-area: footer;
    background-color: $black;
    color: white;

    hr {
      width: 80%;
      margin: 0 auto 0.5rem;
    }
  }
}
header {
  position: relative;
  .nav {
    width: 100%;
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.2rem;

    &__brand,
    &__bar {
      li {
        a {
          display: block;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          height: inherit;
        }
      }
    }

    &__brand {
      font-size: 1.2rem;
      margin-left: 5px;
      z-index: 400;
    }

    &__bar {
      margin-right: 5px;

      li {
        a {
          &:hover {
            background-color: $tertiary;
            transition: all 1s ease-in-out;
            color: $hover;
          }
          &.active {
            color: $hover;
          }
        }
      }
      @include down(medium) {
        display: none;
      }
    }
    &__harm {
      width: 4rem;
      height: 2.5rem;
      margin-right: 5px;
      cursor: pointer;

      .toggle {
        width: 1.8rem;
        height: 0.1rem;
        background-color: white;
        transition: all 1s ease-in-out;
        z-index: 400;

        &::before,
        &::after {
          content: "";
          height: 0.1rem;
          background-color: white;
          position: absolute;
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(0.5rem);
          width: 2rem;
        }
        &::after {
          transform: translateY(-0.5rem);
          width: 2rem;
        }
      }

      @include up(medium) {
        display: none;
      }
    }
  }
  .overlay {
    display: none;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black;

    .mobile_nav {
      background-color: rgba($color: $black, $alpha: 0.5);
      width: 80%;
      margin: 5rem auto 0;
      li {
        a {
          display: block;
          width: 100%;
          border-bottom: 1px solid $secondary;
          padding: 1rem 0;
          padding-left: 1.2rem;
          text-transform: uppercase;

          &:hover {
            background-color: $tertiary;
            color: $hover;
            padding-left: 5rem;
            transition: all 1s ease-in-out;
          }
          &.active {
            color: $hover;
          }
        }
      }
    }

    .mobile_social {
      margin-top: 8rem;
      ul {
        margin-top: 1rem;
      }
    }
  }
}
main {
  .container {
    border: 1px dotted rgba($color: $grey, $alpha: 0.2);

    .text {
      padding: 1rem;
      color: $secondary;
      .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      h1 {
        margin-bottom: 0.5rem;
        @include up(medium) {
          font-size: 3rem;
        }
      }
      p {
        margin-bottom: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
      }
      a {
        display: inline-block;
      }
    }
  }
}
.about {
  .container {
    .text {
      p {
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 2rem 0;
        color: $grey;
        text-align: justify;
        @include down(small) {
          text-align: left;
        }
        span.name {
          color: $secondary;
        }
      }
    }
    a.btn {
      display: inline-block;

      @include up(large) {
        position: absolute;
        right: 4rem;
      }
    }
  }
}
.skills {
  .container {
    .row {
      margin: 2rem auto;
      grid-template-columns: repeat(3, 1fr);

      div {
        margin: 1rem auto;
        border-radius: 1rem 0 1rem 0;
        position: relative;
        i {
          font-size: 2rem;
          padding: 0.5rem;
          margin: 0.5rem auto;
          color: $secondary;
          span {
            display: block;
            font-size: 1rem;
            text-transform: uppercase;
            position: inherit;
            margin-top: 1rem;
            color: $grey;
            font-weight: bold;
            letter-spacing: normal;

            @include down(medium) {
              text-transform: uppercase;
              font-size: 0.7rem;
              margin-top: 0.7rem;
            }
          }
        }
        small {
          display: none;
        }
      }
      @include up(medium) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    a.btn {
      display: inline-block;
      cursor: pointer;

      @include up(large) {
        position: absolute;
        right: 9rem;
      }
    }
  }
}
.projects {
  padding-bottom: 3rem;
  .container {
    position: relative;
    .project-tile {
      margin: 2rem auto;
      .card {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 300px;
        height: 250px;
        margin: 1rem auto;
        background-color: $black;
        color: $secondary;
        border-radius: 0 1rem 0 1rem;
        &:hover {
          transition: all 1s ease-in-out;
          border-radius: 0;
        }
        &:last-child {
          display: none;
        }

        .contain {
          width: 95%;
          padding: 1rem;
          margin: auto;
        }

        .card_title {
          margin: 0 0 0.5rem;
          h4 {
            margin-bottom: 0.5rem;
          }
          small {
            color: gray;
          }
        }

        .card_text {
          margin: 2rem auto;
          color: gray;
          p {
            line-height: 1.5rem;
          }
        }

        .card_icon {
          a {
            color: $secondary;
            cursor: pointer;
            &:hover {
              transition: all 1s ease-in-out;
              color: $hover;
            }
          }
        }

        @include down(small) {
          width: 250px;
          height: 280px;
          margin: 0.5rem auto;
        }
      }
      @include up(medium) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include up(large) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include down(medium) {
        grid-template-columns: 1fr;
      }
    }

    a.btn {
      display: inline-block;

      @include up(large) {
        position: absolute;
        right: 4rem;
      }
    }
  }
}
.contact {
  padding-top: 1rem;
  .container {
    .title {
      margin-bottom: 2rem;
    }
    .form {
      width: 90%;
      margin: auto;

      label {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
      }
      input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        outline: none;
        margin-bottom: 0.5rem;
        background: $black;
        color: $secondary;
        border: none;
      }
      textarea {
        width: 100%;
        height: 200px;
        padding: 0.5rem;
        outline: none;
        background: $black;
        color: $secondary;
        border: none;
      }

      .btn {
        width: 5rem;
        margin: 1rem auto;
        cursor: pointer;
      }
    }
  }
}
footer {
  .container {
    width: 90%;
    margin: 1rem 0 0.5rem;

    .footer-item {
      margin: 0.5rem 0;
      li {
        margin: 0 1rem;
      }
    }
    .copyright {
      color: $grey;
    }
  }
  a {
    color: $secondary;

    &:hover {
      color: $hover;
      transition: all 1s ease-in-out;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

//open toggle
.nav__harm.open .toggle {
  background-color: transparent;
  transition: all 1s ease-in-out;
}
.nav__harm.open .toggle::before {
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}
.nav__harm.open .toggle::after {
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
}

//transform toggle
.sticky {
  background-color: $black;
}
